<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Verification.My.MySettings.AdminListConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\AdminList.accdb"
            providerName="System.Data.OleDb" />
        <add name="Verification.My.MySettings.accountsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\accounts.accdb"
            providerName="System.Data.OleDb" />
        <add name="Verification.My.MySettings.CustomerSummaryConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\CustomerSummary.accdb"
            providerName="System.Data.OleDb" />
        <add name="Verification.My.MySettings.J_JproductsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\J&amp;Jproducts.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>